.DS_Store
genomes_annot
genomes_annot_copy/
genomes_annot_2
genegraphdb/__pycache__/
genegraphdb.egg-info/
.idea/
ggdb_multisql_errorlog.csv
genegraph.db
genegraphdb/.ipynb_checkpoints/
clusterRes_all_seqs.fasta
clusterRes_rep_seq.fasta
clusterRes_cluster.tsv
ggdb_summary_stats.csv
ggdb_load_stats.csv