bcbio-gff==0.6.9
biopython==1.79
click==8.0.1
dill==0.3.4
fs==2.4.15
gcsfs==2022.3.0
google-cloud-bigtable==2.9.0
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
ipdb==0.13.9
jupyterlab==3.4.2
matplotlib==3.5.1
mmh3==3.0.0
more-itertools==8.12.0
neo4j==4.3.1
networkx==2.6.3
pandas==1.3.2
plotly==5.5.0
psutil==5.9.0
psycopg2-binary==2.9.3
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.1
pyvis==0.1.9
requests==2.27.1
scipy==1.7.3
SQLAlchemy==1.4.29
tqdm==4.62.3
